// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blue: #6FC4D6;
$lavander: #7291E0;
$pink: #C08DE0;
$corail: #E08DA1;
$purple: #47273AEB;
$violet: #323254D6;
$green: #5BC2BD;
