<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/5441390/pexels-photo-5441390.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);">
  <div class="container">
    <h1>Rent a Flat anywhere!</h1>
    <p>Visit the world thanks to our renting platform!</p>
    <%= link_to "Browse flats", flats_path, class: "btn btn-secondary" %>
  </div>
</div>
