.blue-btn {
  background-color: $blue;
  color: white;
}

.blue-btn:hover {
  transform: scale(1.05);
  background-color: #85D5E6;
  color: white;
}

.lavander-btn {
  background-color: $lavander;
  color: white;
}

.lavander-btn:hover {
  transform: scale(1.05);
  background-color: #7D9FF5;
  color: white;
}

.pink-btn {
  background-color: $pink;
  color: white;
}

.pink-btn:hover {
  transform: scale(1.05);
  background-color: #D5A2F5;
  color: white;
}

.corail-btn {
  background-color: $corail;
  color: white;
}

.corail-btn:hover {
  transform: scale(1.05);
  background-color: #EDA1B4;
  color: white;
}

.purple-btn {
  background-color: $purple;
  color: white;
}

.purple-btn:hover {
  transform: scale(1.05);
  background-color: #4d2b3feb;
  color: white;
}

.green-btn {
  background-color: $green;
  color: white;
}

.green-btn:hover {
  transform: scale(1.05);
  background-color: #61cac5;
  color: white;
}

.violet-btn {
  background: $violet;
  color: white;
}

.violet-btn:hover {
  transform: scale(1.05);
  background-color: #38385ed6;
  color: white;
}
