.blue-btn {
  background-color: $blue;
  color: white;
}

.blue-btn:hover {
  transform: scale(1.05);
  background-color: #85D5E6;
  color: white;
}

.lavander-btn {
  background-color: $lavander;
  color: white;
}

.lavander-btn:hover {
  transform: scale(1.05);
  background-color: #7D9FF5;
  color: white;
}

.pink-btn {
  background-color: $pink;
  color: white;
}

.pink-btn:hover {
  transform: scale(1.05);
  background-color: #D5A2F5;
  color: white;
}

.corail-btn {
  background-color: $corail;
  color: white;
}

.corail-btn:hover {
  transform: scale(1.05);
  background-color: #EDA1B4;
  color: white;
}

.purple-btn {
  background-color: $purple;
  color: white;
}

.purple-btn:hover {
  transform: scale(1.05);
  background-color: #4d2b3feb;
  color: white;
}

.green-btn {
  background-color: $green;
  color: white;
}

.green-btn:hover {
  transform: scale(1.05);
  background-color: #68cac5;
  color: white;
}

.violet-btn {
  background: $violet;
  color: white;
}

.violet-btn:hover {
  transform: scale(1.05);
  background-color: #38385ed6;
  color: white;
}

.light-red-dashboard-btn {
  background: $light-red;
  color: white;
  border-radius: 15px;
  padding: 4px 12px;
}

.light-red-dashboard-btn:hover {
  transform: scale(1.05);
  background-color: #d66668;
  color: white;
}

.pink-dashboard-btn {
  background: $pink;
  color: white;
  border-radius: 15px;
  padding: 4px 12px;
}

.pink-dashboard-btn:hover {
  transform: scale(1.05);
  background-color: #D5A2F5;
  color: white;
}

.green-small-btn {
  background: $green;
  color: white;
  font-size: 0.8rem;
  border-radius: 15px;
  margin: 2px 2px;
  padding: 4px 8px;
}

.green-small-btn:hover {
  transform: scale(1.05);
  background-color: #68cac5;
  color: white;
}

.violet-small-btn {
  background: $violet;
  color: white;
  font-size: 0.8rem;
  border-radius: 15px;
  margin: 2px 2px;
  padding: 4px 8px;
}

.violet-small-btn:hover {
  transform: scale(1.05);
  background-color: #38385ed6;
  color: white;
}

.pink-small-btn {
  background: $pink;
  color: white;
  font-size: 0.8rem;
  border-radius: 15px;
  margin: 2px 2px;
  padding: 4px 8px;
}

.pink-small-btn:hover {
  transform: scale(1.05);
  background-color: #D5A2F5;
  color: white;
}

.light-red-small-btn {
  background: $light-red;
  color: white;
  font-size: 0.8rem;
  border-radius: 15px;
  margin: 2px 2px;
  padding: 4px 8px;
}

.light-red-small-btn:hover {
  transform: scale(1.05);
  background-color: #d66668;
  color: white;
}

.blue-small-btn {
  background: $blue;
  color: white;
  font-size: 0.8rem;
  border-radius: 15px;
  margin: 2px 2px;
  padding: 4px 8px;
}

.blue-small-btn:hover {
  transform: scale(1.05);
  background-color: #85D5E6;
  color: white;
}
