.card-flat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-flat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-flat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-flat > .flat-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-flat .card-flat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-reservation {
  overflow: hidden;
  background: white;
  border-radius: 5px;;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.card-reservation .buttons {
  display: flex;
  justify-content: center;
}
