.card-flat {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: #082032;
}

.card-flat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-flat p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-flat > .flat-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-flat .card-flat-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  height: 88px;
}

.card-flat .card-flat-infos .card-flat-details {
  display: flex;
  flex-direction: column;
}

.card-reservation {
  border-radius: 25px;;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: rgba(114,	145,	224, 0.5);
  margin: 2px;
  position: relative;
}

.card-reservation .buttons {
  display: flex;
  justify-content: center;
}

.card-flat-description-dashboard {
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  background-color: rgba(224,	141,	161, 0.5);
}

.card-flat-description-show {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: white;
  background-color: $corail;
}

.checkout-card-details {
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 16px;
}
