.container-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.container-cards-show {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.container-description {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
