.perso-popup .mapboxgl-popup {
  max-width: 150px;
}

.perso-popup .mapboxgl-popup-content {
  background: linear-gradient(45deg, #323254D6, #47273AEB);
  box-shadow: none;
  color: white;
  text-align: center;
}
