.navbar-lewagon {
 background: $blue;
 color: white;
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  background: $blue;
}

.nav-link:hover {
  background-color: $purple;
  border-radius: 5px;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: $purple;
  color: white;
}
